<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TECH_IN</title>
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<link href="css/common.css" rel="stylesheet">
	<!--J 쿼리 사용 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	
<style>
    #my_modal {
        display: none;
        width: 600px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        top: 10px;
        right: 10px;
    }
	
/* 부모 창을 어둡게 덮어줄 레이어 스타일 */
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* 어두운 색상 */
        z-index: 9999; /* 다른 요소보다 위에 위치하도록 z-index 값 설정 */
      }	
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TECH_IN </div>
            </a>
			<%-include('../siderbar.ejs')%>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

			
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					
				
				   <!-- Sidebar Toggle (Topbar) -->
          

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!-- Dropdown - Alerts -->
             
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!-- Dropdown - Messages -->
                        </li>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <button type = "button" class = "btn btn-primary btn-sm" onclick = "re()" style = "background-color: #808cf5; border-color: #808cf5;" id = "count">60</button>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

             
                    <!-- DataTales Example -->
               <div class="card shadow mb-4">
                        <div class="card-header py-3">
							
                            <h6 class="m-0 font-weight-bold text-primary">레이저 작업 현황</h6>
						 </div>
                        <div class="card-body">
                            <div class="table-responsive">
								<table class="table table-bordered" style = "width : 50% ; margin-left : 400px;">
								  <tr>
									<td colspan = "3" style ="color : black; background-color: yellow;"><b>긴급메세지</b></td>
								  </tr>
									<% for(var i = 0; i < row.length; i++) { %>
										<% 	if (row[i].urgent_message != '') 
											{%> 
													<tr>
														<td class = "urgent_style" style = "width: 6%;"><b><%=i+1%></b></td>
														<td class = "urgent_style" style = "width: 20%;"><b><%=row[i].customer%></b></td>
														<td style = "text-align: left;"><b><%=row[i].urgent_message%></b></td>
													</tr>
											<%}
											else if(row[i].urgent_message == '') 
											{ %><% }
										%>
									<% } %>
								</table>
								
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<label>
									<input type="search" class="form-control form-control-sm" placeholder aria-controls="dataTable">
								</label>
                                    <thead>
										
                                        <tr >
											<th>no</th>	
                                            <th >번호(고객명)</th>
											<th>작번</th>
											<th >납기일</th>
											<th style = "width : 7%">레이저</th>
                                            <th style = "width : 7%">절곡</th>
											<th style = "width : 7%">용접</th>
                                            <th style = "width : 7%">후처리</th>
                                            <th>재질</th>
                                            <th>두께</th>
											<th>자재</th>
											<th>수량</th>
											<th>프로그램명</th>
											<th></th>
                                        </tr>
                                    </thead>
                         
                                    <tbody>
                                       <% for(var i = 0; i < row.length; i++) { %>
										<!--
										<tr id = "<%=row[i].work_key%>" onclick = "detail('<%=row[i].key_no%>')" data-toggle="modal" data-target="#updateModal">
										-->		
										<tr id = "<%=row[i].work_key%>" onclick = "detail('<%=row[i].key_no%>')">	
										<% if (row[i].urgent_message == '') 
												{ %> <td><%=i+1%></td><% }
											   else if (row[i].urgent_message != '')
												{ %> <td><b><%=i+1%></b></td><% }
										%> 
										<% if (row[i].urgent_message == '') 
												{ %> <td><%=row[i].customer%></td><% }
											   else if (row[i].urgent_message != '')
												{ %> <td><b><%=row[i].customer%></b></td><% }
										%> 
											<td><%=row[i].work_no%></td>
											<td><%=row[i].shipping_date%></td>
									<% 	if (row[i].status == 10 && row[i].laiser_out_com == '') // 값이 10 이고 외주가 있을경우 없을 경우 작업시작
											{%><td>대기</td><% } 
											else if(row[i].status == 10 && row[i].laiser_out_com != '') // 값이 10 이고 외주가 있을 경우 > 외주 이름 버튼에 적음 
											{ %><td><button type ="button" class  = "btn btn-primary btn-lg" date-ano = "" onclick = "event.stopPropagation(); order_next_out(<%=row[i].no%>)"><%=row[i].laiser_out_com%></button></td><% }
											else if(row[i].status == 11 ) // 값이 11 일경우 
											{ %><td>진행중</td><% }
											else if (row[i].status == 12) // 작업이 시작 되었으니 완료 버튼은 상태 11에서 누른다.
											{ %><td><button type = "button" class = "btn btn-primary btn-lg" style ="background :#e7954f; border:#e7954f" date-ano = "" onclick = "event.stopPropagation(); order_next(<%=row[i].no%>)">작업완료</button></td>	<% }
											%>
										<% 	if(row[i].proc.indexOf('B') !==-1  && row[i].bending_out_com !== '')
											{ %><td><%=row[i].bending_out_com%></td><% }
											else if (row[i].proc.indexOf('B') !==-1 ) 
											{%><td>대기</td><% } 
											else{ %><td></td><% }
										%>
										<%  if(row[i].proc.indexOf('W') !==-1  && row[i].welding_out_com !== '')
											{ %><td><%=row[i].welding_out_com%></td><% }
											else if (row[i].proc.indexOf('W') !==-1 ) 
											{%><td>대기</td><% }
											else{ %><td></td><% }
										%>
										<% 	if(row[i].proc.indexOf('P') !==-1  && row[i].process_out_com !== '')
											{ %><td><%=row[i].process_out_com%></td><% }
											else if (row[i].proc.indexOf('P') !==-1 ) 
											{%><td>대기</td><% } 
											else{ %><td></td><% }
										%>
											<td><%=row[i].quality%></td>
											<td><%=row[i].thickness%></td>
											<td><%=row[i].materials_max%></td>
                                            <td><%=row[i].work_qty%></td>
											<td><%=row[i].program_name%></td>
											<!--
											<td><button type = "button" class = "btn btn-primary btn-sm" date-ano = "" onclick = "floor_plan(<%=row[i].work_key%>)" style = "background-color: #26d9d9; border-color: #D3D3D3;">도면</button></td>
											-->
											<td><button type = "button" class = "btn btn-primary btn-lg" date-ano = "" onclick = "event.stopPropagation(); openPopup(<%=row[i].work_key%>)" style = "background-color: #26d9d9; border-color: #D3D3D3;">도면</button></td>
                                        </tr>
									<% } %>
                                    </tbody>
                                </table>
								<div style = "float : left; padding-top : 10px">
								<button class="btn btn-primary btn btn-lg btn-success " type="button" onclick = "detail_all()">전체공정보기</button>	
								</div>
                            
							</div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
		

	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
	
<!-- 출하 버튼 모달-->
	    <div class="modal fade" id="updateModal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div id="model_view_10">

				  <div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>레이저 작업 현황</h4>
				  </div>

				  <div class="modal-body">
					<div class="box-body">

					  <div class="">
						<div class="col-xs-12">
						  <div class="box">
							<table class="table tb-list table-bordered">
							    <thead>
										<h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>작업전</h4>
                                        <tr>
											<th>no</th>
											<th>작번</th>
											<th>납기일</th>
											<th>파일명</th>
											<th>재질</th>
                                            <th>두께</th>
											<th>자재</th>
                                        </tr>
                                    </thead>
                         		<tbody id="myTable">
															
							    </tbody>
							</table>
							<div class="box-footer" style ="text-align : right">							  
							  <button class="btn btn-primary btn-sm " type="button" onclick="detail_order_start()" data-dismiss="modal">작업시작</button>
							</div>	
							<table class="table tb-list table-bordered">
							    <thead>
										<h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>작업중</h4>
                                        <tr>
											<th>no</th>
											<th>작번</th>
											<th>납기일</th>
											<th>파일명</th>
											<th>재질</th>
                                            <th>두께</th>
											<th>자재</th>
                                        </tr>
                                    </thead>
                         		<tbody id="myTable1">
															
							    </tbody>
							</table>  
							<div class="box-footer" style ="text-align : right">	
							<button class="btn btn-primary btn-sm " style ="background :#e7954f; border:#e7954f" type="button" onclick="Fn_detailClose()" data-dismiss="modal">작업완료</button>
							</div>	
							<div class="box-footer text-center">							  
							  <button class="btn btn-sm btn-default btn-danger modal_close_btn" type="button" onclick="Fn_detailClose()" data-dismiss="modal">닫기</button>	
							</div>


						  </div>
						</div>
					  </div>

					</div>

				  </div>

				</div>
            </div>
        </div>
   		</div>
	
	<script src="js/main_contents.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
</body>

</html>


<script>

var all_no = '';
const check_arr = [];
const key_no = '';
//작업 시작 버튼 누르면 동작하는 함수
function order_start(no){
	
 		 alert("작업을 시작 합니다.")
			all_no = no;	
			let submit_args = '';
			submit_args += commonFunc.makeArgs("no", no);
			const ret = commonFunc.postArgs("/laiser_order_start", submit_args);
			location.href='/laiser';
	


} 
	
//작업 완료 버튼 누르면 동작하는 함수
function order_end(no){
	
  	alert("작업이 완료 되었습니다.")
	all_no = no;
	let submit_args = '';
	submit_args += commonFunc.makeArgs("no", no);
	const ret = commonFunc.postArgs("/laiser_order_end", submit_args);
	location.href='/laiser';
	
}

//다음 공정 버튼 누르면 동작하는 함수
function order_next(no){
 	alert("작업이 완료 되었습니다.")
	all_no = no;
	let submit_args ='';
			submit_args += commonFunc.makeArgs("no", no);
			const ret = commonFunc.postArgs("/laiser_order_next", submit_args);
			location.href='/laiser'
		
}

	function order_next_out(no){
	all_no = no;
	let submit_args ='';
			submit_args += commonFunc.makeArgs("no", no);
			const ret = commonFunc.postArgs("/laiser_order_next", submit_args);
			location.href='/laiser'
		
}
	
	function floor_plan(work_key){
		location.href=`/test/${work_key}`
	}
	
	function detail_all() {		
	window.location.href=`/laiser_detail/1`
		}

	
function detail(work_key) {		
window.location.href=`/laiser_detail/${work_key}`
}
	
	
	
	
	
	
	
	
var width = 800; // 팝업 창의 너비
var height = 1200; // 팝업 창의 높이
var left = (screen.width/2)-(width/2); // 창을 가운데로 정렬하기 위한 좌표
var top = (screen.height/2)-(height/2); // 창을 가운데로 정렬하기 위한 좌표
let popup = null;	

function openPopup(work_key) {
	let submit_args = '';
	submit_args += commonFunc.makeArgs("no", `${work_key}`);
	const ret = commonFunc.postArgs("/number_sel", submit_args);
	
  popup = window.open(`/${work_key}`, 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', location=no');
	
    popup.blur();
    popup.addEventListener('blur', closePopup);	
	
	   const overlay = document.createElement('div');
        overlay.classList.add('overlay');
        document.body.appendChild(overlay);

        // 팝업 창 닫힐 때 레이어 제거
        popup.addEventListener('beforeunload', () => {
          document.body.removeChild(overlay);
        });
	}  
	
	function closePopup() {
        if (popup && !popup.closed) {
          popup.close();
        }
      }
	
	document.getElementById('laiser').style.background='khaki';
	
	
var timer = setInterval(count, 1000);
var con = 60
function count() {
   document.querySelector("#count").innerText = con--;
	if(con == 0){
		location.reload();
	}
}
function re(){
	location.reload();
}
</script>